apiVersion: v1
kind: Service
metadata:
  name: backend-luna
  namespace: default
spec:
  type: NodePort
  selector:
    app: backend-luna
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 30080
